<!doctype html>
<html lang="pl">
  <head>
    {{>head head}}
  </head>
  <body>
    <header>
			{{>header header}}
    </header>

    <article class="container-fluid">
      {{{ body }}}
    </article>

    {{>scripts}}
  </body>
</html>