<div class="row align-items-center justify-content-center h-100">
    <div class="col-8 p-1">
        <div class="m-auto bg-dark p-2" style="width: 25rem;">
            <img src="/img/logo.svg" style="width: 100%; filter: invert(100%)" alt="***** ***">
        </div>
    </div>
</div>