<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="OPIS. LOREM IPSUM..." />
    <meta name="theme-color" content="#343a40" />

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pl_PL" />
    <meta property="og:site_name" content="Vivent" />
    <meta property="og:title" content="Vivent" />
    <meta property="og:image" content="https://thevivent.com/img/og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Brak zdjęcia" />
    <meta property="og:description" content="OPIS. LOREM IPSUM..." />
    <meta property="og:url" content="https://thevivent.com/" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Vivent_9" />
    <meta name="twitter:creator" content="@Vivent_9" />
    <meta name="twitter:title" content="Vivent" />
    <meta name="twitter:description" content="OPIS. LOREM IPSUM..." />
    <meta name="twitter:image" content="https://thevivent.com/img/og.png" />
    <meta name="twitter:image:alt" content="Brak zdjęcia" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>TheVivent</title>
  </head>
  <body>
    <header>
			
			<nav class="navbar navbar-expand-lg w-100 navbar-dark bg-dark py-1 pt-sm-1">
        <div class="container-fluid">
          <div class="col-1">
            <a href="/home" class="navbar-brand">
              <img src="img/logobig.svg" class="m-2 d-none d-md-inline-block" alt="logo" style="height: 3em; filter: invert(100%);" />
              <img src="img/logo.svg" class="m-2 d-inline-block d-md-none" alt="logo" style="height: 3em; filter: invert(100%);" />
            </a>
          </div>
          
          <div class="col">
            <div class="collapse navbar-collapse" id="mainNav">
              <ul class="navbar-nav m-auto">
                <li class="nav-item mx-4" id="cv">
                  <a href="/CV" class="nav-link text-center">
                    <span class="lg-grow" style="font-size: 30px;">CV</span>
                  </a>
                </li>
                <li class="nav-item mx-4" id="cv">
                  <a href="/portfolio" class="nav-link text-center">
                    <span class="lg-grow" style="font-size: 30px;">projekty</span>
                  </a>
                </li>
                {{!-- <li class="nav-item dropdown mx-4" id="portfolio">
                  <a href="#" class="nav-link dropdown-toggle text-center" id="mainNavDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-project-diagram lg-grow"></i><br class="d-none d-lg-inline" />
                    <span class="lg-grow">Portfolio</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="mainNavDrop">
                    <a href="/portfolio/Pinger" class="dropdown-item">Pinger[Narzędzie]</a>
                    <a href="/portfolio/SystemMonitor" class="dropdown-item">System Monitor[Narzędzie]</a>
                    <a href="/portfolio/FallGame" class="dropdown-item">Fall Game[Gra]</a>
                    <a href="/portfolio/GeneratorTreningow" class="dropdown-item">Generator treningów[Narzędzie]</a>
                  </div>
                </li> --}}
              </ul>
            </div>
          </div>

          <div class="col-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="przełącznik menu rozwijanego">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

        </div>
			</nav>


    </header>

    <article class="container-fluid">
      {{ body }}
    </article>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $("a").on("click", (event) => {
          event.preventDefault();

          $.get("/spanko?ajax=true", (data) => {
            $("article.container-fluid").html(data)
          })

        })
    </script>

  </body>
</html>