body, html{
    height: 100vh;
}

body{
    background-color: rgb(51, 47, 47);
    color: rgb(221, 221, 221);

    /* Background pattern from Toptal Subtle Patterns */
    /* Wild Oliva */
    background-image: url('/img/background/wild_oliva.png');
}

header{
    z-index: 2000;
    position: relative;
    height: 6em;
}

article{
    height: calc(100% - 6em);
    overflow-x: hidden;
    overflow-y: auto;
}

.card:hover{
    transition: 0.3s;
    color: black;
    transform: scale(1);
}

.card{
    z-index: 1000;
    transition: 0.1s;
    transform: scale(0.9);
    color: rgb(150,150,150);
}

.bg-invisible{
    background-color: rgba(255,255,255,0.05);
    -webkit-box-shadow: 5px 5px 14px -3px rgba(0,0,0,0.9); 
    box-shadow: 5px 5px 14px -3px rgba(0,0,0,0.9);
}