<div class="row mt-3 align-items-center justify-content-center">
    <div class="bg-invisible col-8">
        <h2>FallGame</h2>
        <p>
            Prosta gra napisana w języku JavaScript polegająca na sterowaniu kulką w taki sposób, aby nie dotknąć górnej jak i dolnej krawędzi planszy.
        </p>
    </div>
</div>
<div class="row mt-2 justify-content-center">
    <div class="col-12 col-lg-3 order-first order-lg-last text-left bg-invisible">
        <div class="float-start">
            <h3>
                <strong>Punkty:</strong>
                <span id="pktout"></span>
            </h3>
        </div>
        <nav class="float-end">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-pc" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    <i class="fas fa-desktop"></i>
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-mobile" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <i class="fas fa-mobile-alt"></i>
                </button>
            </div>
        </nav>
        <div class="clearfix"></div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-pc" role="tabpanel" aria-labelledby="nav-home-tab">
                <i class="fas fa-arrow-right"></i>/d - ruch w prawo<br>
                <i class="fas fa-arrow-left"></i>/a - ruch w lewo<br>
                <i class="fas fa-arrow-up"></i>/w - skok<br>
                [spacja] - start gry
            </div>
            <div class="tab-pane fade" id="nav-mobile" role="tabpanel" aria-labelledby="nav-contact-tab">
                dotyk lewej połowy - ruch w lewo<br>
                dotyk prawej połowy - ruch w prawo<br>
                kliknięcie - start gry
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 text-end">
        <style>
            body:before{
                content: "xs";
                display: none;
            }
            @media (min-width: 576px) {
                body:before {
                    content: "sm";
                }
            }
            @media (min-width: 768px) {
                body:before {
                    content: "md";
                }
            }
            @media (min-width: 992px) {
                body:before {
                    content: "lg";
                }
            }
        </style>
        <div style="position: relative;">
            <canvas id="blank" width="800" height="600" style="background-color: white; min-width: 250px; max-height: 800px;" >Gra nie może zostać wczytana :/</canvas>
            <div id="left" style="position: absolute; top:0; left: 0; width: 50%; height: 100%;" ontouchstart="pressed[37]=true;" ontouchend="pressed[37]=false" onclick="start()"></div>
            <div id="right" style="position: absolute; top:0; left: 50%; width: 50%; height: 100%;" ontouchstart="pressed[39]=true;" ontouchend="pressed[39]=false" onclick="start()"></div>
        </div>
        <script src="https://thevivent.com/js/FallGame.js"></script>
        <script>
            var breakpoint = {};
            breakpoint.refreshValue = function () {
                this.value = window.getComputedStyle(document.querySelector('body'), ':before').getPropertyValue('content').replace(/\"/g, '');
                console.log(this.value)
            };
            $(window).resize(function () { //poniżej można zmienić szerokość i wysokość gry w zależności od szerokości strony
                breakpoint.refreshValue();
                if(breakpoint.value=="md"){
                    document.getElementById("blank").width=600;
                    document.getElementById("blank").height=600;
                }
                else if(breakpoint.value=="sm"){
                    document.getElementById("blank").width=500;
                    document.getElementById("blank").height=550;
                }
                else if(breakpoint.value=="xs"){
                    document.getElementById("blank").width=320;
                    document.getElementById("blank").height=400;
                }
                else{
                    document.getElementById("blank").width=800;
                    document.getElementById("blank").height=600;
                }
            }).resize();
        </script>
    </div>
        
</div>
